---

- name: Install iptables save script
  shell:
    cmd: transactional-update -c -n -d --no-selfupdate shell
    stdin: "{{ lookup('template', 'install_service.sh.j2') }}"
    creates: /usr/lib/systemd/system/iptables.service
  notify: Reboot

# Force reboot now to use the new layer
- meta: flush_handlers
