#!/usr/bin/env bash

set -o errexit
set -o pipefail
set -o nounset
set -o xtrace

install -d -m 0755 -o root -g root /usr/libexec/iptables

echo '{{ lookup('file', 'iptables.init') | regex_replace("'", "\'") }}' >/usr/libexec/iptables/iptables.init
chmod 0755 /usr/libexec/iptables/iptables.init
chown root:root /usr/libexec/iptables/iptables.init

echo '{{ lookup('file', 'iptables.service') | regex_replace("'", "\'") }}' >/usr/lib/systemd/system/iptables.service
chmod 0644 /usr/lib/systemd/system/iptables.service
chown root:root /usr/lib/systemd/system/iptables.service

install -d -m 0755 -o root -g root /usr/libexec/initscripts/legacy-actions/iptables

echo '#!/bin/bash
exec /usr/libexec/iptables/iptables.init save' >/usr/libexec/initscripts/legacy-actions/iptables/save
echo '#!/bin/bash
exec /usr/libexec/iptables/iptables.init panic' >/usr/libexec/initscripts/legacy-actions/iptables/panic
