#!/usr/bin/env bash

set -o errexit
set -o pipefail
set -o nounset

install -d -m 0755 -o root -g root /usr/libexec/iptables

cat <<EOF >/usr/libexec/iptables/iptables.init
{{ lookup('file', 'iptables.init') }}
EOF
chmod 0755 /usr/libexec/iptables/iptables.init
chown root:root /usr/libexec/iptables/iptables.init

cat <<EOF >/usr/lib/systemd/system/iptables.service
{{ lookup('file', 'iptables.service') }}
EOF
chmod 0644 /usr/lib/systemd/system/iptables.service
chown root:root /usr/lib/systemd/system/iptables.service
